@font-face {
    font-family: "CustomComicSans";
    src: url(../comic-sans-ms/comici.ttf);
}

.home-container {
    color: black;
    font-family: "CustomComicSans", Arial, Helvetica, sans-serif !important;
}

#welcome-message {
    width: 100%;
}

#welcome-message div h1,
#welcome-message div h2 {
    color: black;
}

.green-line {
    height: 2px;
    width: 300px;
    background-color: #1bae70;
    margin-top: 25px;
    margin-bottom: 25px;
}

@media only screen and (max-width: 600px) {
    .green-line {
        width: 200px;
    }
}

.btn-about-us {
    letter-spacing: 2px;
    border-radius: 25px;
    background-color: #1bae70;
    margin-top: 30px;
    min-width: 150px;
    min-height: 50px;
    font-weight: bold;
    -webkit-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
}

.btn-about-us:hover {
    scale: 1.05;
    background-color: #1a9d66;
}

.environmental-message {
    margin-left: auto;
    margin-right: auto;
}

.environmental-message h2 {
    color: #3A4B40;
    margin-top: 50px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.home-images {
    max-width: 500px;
    min-width: 200px;
    border-radius: 2%;
    -webkit-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
}

.home-section-find-publish {
    margin-top: 50px;
    margin-bottom: 100px;
}

.link-buttons {
    text-decoration: none;
    color: #f4f6f4;
}

.link-buttons:hover {
    color: whitesmoke;
}

.btn-shakeAndRotate {
    animation-name: shakeAndRotate;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes shakeAndRotate {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(5deg);
    }
}

@-webkit-keyframes shakeAndRotate {
    0% {
        -webkit-transform: rotate(5deg);
    }

    50% {
        -webkit-transform: rotate(-5deg);
    }

    100% {
        -webkit-transform: rotate(5deg);
    }
}

.green {
    color: #1bae70;
}

.uppercase {
    text-transform: uppercase;
}

.gray-color {
    color: #3A4B40 !important;
}

.zoomInAndOut {
    animation-name: zoom;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.03, 1.03);
    }

    100% {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes zoom {
    0% {
        -webkit-transform: scale(1, 1);
    }

    50% {
        -webkit-transform: scale(1.03, 1.03);
    }

    100% {
        -webkit-transform: scale(1, 1);
    }
}

.questions-thanks-complaints {
    max-width: 800px;
}

.contact-button {
    color: whitesmoke;
    text-decoration: none;
}

.contact-button:hover {
    color: whitesmoke;
}

.ludicrum-use {
    max-width: 1100px;
}