.footer-menu {
    bottom: 0;
    position: relative;
    width: 100%;
    background: rgb(64, 64, 64);
    background: linear-gradient(180deg, rgba(64, 64, 64, 1) 0%, rgba(103, 103, 103, 1) 86%);
    padding-top: 5px;
    padding-bottom: 5px;
}

.external-link-container a img {
    width: 20px;
    height: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.external-link-container a img:hover {
    scale: 1.05;
}

.terms-of-use-footer a,
.rights {
    text-decoration: none;
    color: #f4f6f4;
    font-size: 13px;
}