.details-container {
    min-height: 70vh;
}

.details-card {
    padding: 10px;
    background: rgba(127, 255, 134, 0.53);
    border-radius: 16px;
    -webkit-box-shadow: 10px 10px 15px -4px rgb(0 0 0 / 75%);
    -moz-box-shadow: 10px 10px 15px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 15px -4px rgb(0 0 0 / 75%);
    backdrop-filter: blur(1.4px);
    -webkit-backdrop-filter: blur(1.4px);
    border: 1px solid rgba(255, 255, 255, 0.51);
    font-family: "CustomComicSans", Arial, Helvetica, sans-serif !important;
}

.city-date-category {
    color: #1bae70;
}

.detail-description {
    white-space: pre-line;
    color: #3a4b40;
    word-break: break-word;
}

.copy-buttons {
    margin: 5px;
    border: 2px solid;
    border-radius: 10px;
    padding: 8px;
}

.copy-buttons-copy {
    background-color: #1bae70;
    border-color: #105c3c;
    color: whitesmoke;
}

.copy-buttons-copy:hover {
    scale: 1.05;
    background-color: #1a885a;
    cursor: pointer;
}

.copy-buttons-facebook {
    background-color: #4267B2;
    text-decoration: none;
    color: whitesmoke;
}

.copy-buttons-facebook:hover {
    scale: 1.05;
    background-color: #314d86;
    cursor: pointer;
    color: whitesmoke;
}

.go-back {
    color: rgb(17 104 30);

}

.go-back:hover {
    color: rgb(13, 85, 24);
    scale: 1.05;
    cursor: pointer;
}

.m-b-null p {
    margin-bottom: 0;
}

.report-button {
    color: #d30202;
}

.report-button:hover {
    color: #9d0404;
    scale: 1.05;
    cursor: pointer;
}